<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <listener>
        <listener-class>ua.od.iptel.java.web.MyServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>Chapter1 servlet</servlet-name>
        <servlet-class>ua.od.iptel.java.servlets.Ch1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Chapter1 servlet</servlet-name>
        <url-pattern>/chap1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeerSelect</servlet-name>
        <servlet-class>ua.od.iptel.java.web.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeerSelect</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BeerParamTests</servlet-name>        
        <servlet-class>ua.od.iptel.java.web.BeerParamTests</servlet-class>

    </servlet>
    
    <servlet-mapping>
        <servlet-name>BeerParamTests</servlet-name>
        <url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListenerTest</servlet-name>
        <servlet-class>ua.od.iptel.java.web.ListenerTester</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListenerTest</servlet-name>
        <url-pattern>/listenterTest</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>bread</param-name>
        <param-value>Borodinsky</param-value>
    </context-param>
    


</web-app>