<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <servlet>
        <servlet-name>Chapter1 servlet</servlet-name>
        <servlet-class>ua.od.iptel.java.servlets.Ch1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Chapter1 servlet</servlet-name>
        <url-pattern>/chap1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeerSelect</servlet-name>
        <servlet-class>ua.od.iptel.java.web.BeerSelect</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeerSelect</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BeerParamTests</servlet-name>        
        <servlet-class>ua.od.iptel.java.web.BeerParamTests</servlet-class>

        <!--<init-param>-->
            <!--<param-name>adminEmail</param-name>-->
            <!--<param-value>vaniavinogradov@rambler.ru</param-value>-->
        <!--</init-param>-->

        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>mail@mail.ru</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>BeerParamTests</servlet-name>
        <url-pattern>/Tester.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>vaniavinogradov@rambler.ru</param-value>
    </context-param>

</web-app>